@page
@model Aplicatia_2.Pages.Treatments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Treatments</h1>

<p>
    <a asp-page="Create">Create New Treatment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Treatment[0].TreatmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Treatment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TreatmentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TreatmentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TreatmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
